.app {
  display: flex;
  height: 100vh;
}

.search-sidebar {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7efe5;
  border-right: 3px solid black;
}

.info-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbf5;
}

.main-card {
  width: 50%;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.search-bar {
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.custom-textfield .MuiOutlinedInput-root {
  position: relative;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.custom-textfield .MuiOutlinedInput-root:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.custom-textfield .MuiOutlinedInput-input {
  padding: 12px 14px;
  font-size: 16px;
}

.custom-textfield .MuiInputLabel-outlined {
  transform: translate(14px, 14px) scale(1);
}

.custom-textfield .MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75);
}
